# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons/simplest_god_ray_3d folder when downloading from the Asset Library.
** export-ignore
/addons !export-ignore
/addons/* export-ignore
/addons/simplest_god_ray_3d !export-ignore
/addons/simplest_god_ray_3d/** !export-ignore